.boards {
  padding: 20px;
}

.addNew {
  margin-bottom: 30px;
}

.cards {
  display: flex;
}

.card {
  display: flex;
  width: 200px;
  height: 70px;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 20px;
  cursor: pointer;

  &:hover {
    border: 1px solid var(--border-color-hover);
  }
}

.cardName {
  font-weight: bold;
}

.text {
  margin-bottom: 10px;
}

.title {
  font-weight: bold;
  margin-bottom: 10px;
}
