.listName {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid var(--border-color);
  border-radius: 3px;

  &:hover {
    border-bottom: 1px solid var(--border-color-hover);
  }
}
