.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  width: 95%;
  height: 30px;
  cursor: pointer;
  margin-top: 10px;
  background-color: #efefef;

  &:hover {
    border: 1px solid var(--border-color-hover);
  }
}