.card {
  padding-left: 10px;
  padding-right: 5px;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  width: calc(100% - 25px);
  height: 60px;
  cursor: pointer;
  margin-top: 10px;
  background-color: #efefef;

  &:hover {
    border: 1px solid var(--border-color-hover);
  }
}

.cardNameLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moveCardButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.edit {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color-hover);
  border-radius: 3px;
  width: 25px;
  height: 25px;
  margin-top: 5px;

  &:hover {
    border: 1px solid black;
  }
}

.input {
  width: 75%;
}
